.container {
  margin-top: 0;
}

.form-container {
  max-width: 500px;
  padding: 20px;
  border-radius: 10px;
}

.form-label {
  font-weight: bold;
}

.form-control {
  border-color: #000000;
}

.form-select {
  border-color: #000000;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.d-flex {
  display: flex;
}

.justify-content-end {
  justify-content: flex-end;
}
