<div class="container mt-4">
    <div class="row">
        <h3 class="text-center">Задачи проекта</h3>

        <ng-container *ngIf="tasks.length > 0; else noData">
            <div class="col-md-4 mb-3" *ngFor="let task of tasks">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ task.title }}</h5>
                        <p class="card-text">{{ task.description }}</p>
                        <p class="card-text">Срок выполнения: {{ task.deadline | date: 'dd-MM-yyyy' }}</p>
                        <p class="card-text">Статус: {{ task.completed ? 'Завершена' : 'В процессе' }}</p>
                        <a routerLink="{{ task.id }}" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
        </ng-container>
        <div class="col-12 mb-1">
            <button class="btn btn-primary w-100" (click)="goBack()">Назад</button>
        </div>
    </div>
</div>
<ng-template #noData>
    <p class="alert alert-warning">Нет данных</p>
</ng-template>