<div class="container mt-4" style="max-width: 600px;">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Категория</th>
                <th scope="col">
                    <a routerLink="new" class="btn btn-primary">Добавить</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categories">
                <td>{{ category.title }}</td>
                <td>
                    <a [routerLink]="category.id + '/delete'" class="btn btn-danger btn-sm">Удалить</a>
                    <a [routerLink]="category.id" class="mx-1 btn btn-primary btn-sm">Изменить</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>