<div class="container mt-4">
  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="searchText" (keyup.enter)="filterProjects()"
      placeholder="Введите строку поиска">
  </div>
  <br>
  <div *ngIf="filteredProjects.length > 0; else noData">
    <div class="row">
      <div class="col-md-6" *ngFor="let project of filteredProjects">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">{{ project.title }}</h5>
            <p class="card-text">{{ project.description }}</p>
            <p class="card-text">Дата начала: {{ project.startDate | date: 'dd-MM-yyyy'}}</p>
            <p class="card-text">Дата окончания: {{ project.endDate | date: 'dd-MM-yyyy'}}</p>
            <a routerLink="{{project.id}}" class="btn btn-primary">Подробнее</a>
            <!--<a routerLink="{{project.id}} /tasks" class="btn btn-primary mx-2">Задачи</a>-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noData>
    <p class="alert alert-warning">{{ noDataMessage }}</p>
  </ng-template>
</div>