<div class="project-summary w-50 mx-auto mt-2">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">{{ project.title }}</h2>
      <p class="card-text">Описание: {{ project.description }}</p>
      <p class="card-text">Дата начала: {{ project.startDate | date: 'dd-MM-yyyy' }}</p>
      <p class="card-text">Дата окончания: {{ project.endDate | date: 'dd-MM-yyyy' }}</p>
      <p class="card-text">Количество незавершенных задач: {{ openTasksCount }}</p>
      <div class="d-flex justify-content-center align-items-center">
        <a class="mx-3" routerLink="edit">
          <button class="btn btn-primary">Редактировать</button>
        </a>
        <a class="mx-3" *ngIf="openTasksCount > 0;" routerLink="tasks">
          <button class="btn btn-primary">Посмотреть задачи</button>
        </a>
      </div>
    </div>
  </div>
</div>
