<div class="container mt-4">
    <div>
        <div class="row">
            <div class="col-md-12">
                <a routerLink="/tasks/new" class="btn btn-success mb-3 w-100">+</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" *ngFor="let task of tasks">
                <div class="card bg-light mb-3">
                    <div class="card-header bg-primary text-white">
                        <h5 class="card-title mb-0">{{ task.title }}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ task.description }}</p>
                        <p class="card-text">Дедлайн: {{ task.deadline | date: 'dd-MM-yyyy'}}</p>
                        <p class="card-text">Статус: {{ task.status.title }}</p>
                    </div>
                    <div class="card-footer bg-light d-flex justify-content-between align-items-center">
                        <div>
                            <a routerLink="{{task.id}}" class="btn btn-primary btn-sm">Посмотреть</a>
                        </div>
                        <div>
                            <a routerLink="{{task.id}}/delete" class="btn btn-danger btn-sm">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <a routerLink="/tasks/statuses" class="btn btn-primary mb-3 w-100">Редактор статусов</a>
            </div>
        </div>
    </div>
</div>